Repository jenkins-infra/update-center2, pull requests merged in 2025-04, with the labels that each got.

#840 Incorporate plugin health score in JSON metadata
  pom.xml
  src/main/java/io/jenkins/update_center/ArtifactoryRepositoryImpl.java
  src/main/java/io/jenkins/update_center/GitHubSource.java
  src/main/java/io/jenkins/update_center/HealthScores.java
  src/main/java/io/jenkins/update_center/PluginUpdateCenterEntry.java
  src/main/java/io/jenkins/update_center/Popularities.java
  src/main/java/io/jenkins/update_center/util/HttpHelper.java
  src/test/java/io/jenkins/update_center/WarningsTest.java
Labels: on-hold, enhancement, java

#859 Fix file writing
  src/main/java/io/jenkins/update_center/json/WithoutSignature.java
Labels: bugfix, java

#860 Use version 3.18.2
  site/generate.sh
Labels: wrapper
