Repository jenkins-infra/update-center2, pull requests merged in 2025-01, with the labels that each got.

#785 Update to bouncycastle jdk18on with version 1.78.1
  pom.xml
  src/main/java/io/jenkins/update_center/Signer.java
  src/test/java/io/jenkins/update_center/SignerTest.java
  src/test/resources/modern.cert
  src/test/resources/modern.key
  src/test/resources/traditional.cert
  src/test/resources/traditional.key
Labels: enhancement, dependencies, java

#836 Update dependencies
  Jenkinsfile
  pom.xml
  src/main/java/io/jenkins/update_center/HPI.java
  src/main/java/io/jenkins/update_center/json/PlatformPluginsRoot.java
  src/main/java/io/jenkins/update_center/json/UpdateCenterRoot.java
  src/test/java/io/jenkins/update_center/SanitizerTest.java
Labels: dependencies, java

#835 Generate `timestamp.txt`
  site/generate.sh
  src/main/java/io/jenkins/update_center/MetadataWriter.java
  src/main/java/io/jenkins/update_center/json/WithSignature.java
  src/main/java/io/jenkins/update_center/util/Timestamp.java
Labels: enhancement, java

#654 Mark plugins without maintainers as up for adoption
  src/main/java/io/jenkins/update_center/PluginUpdateCenterEntry.java
Labels: enhancement, java

#838 Use version 3.17
  site/generate.sh
Labels: wrapper
